<template name="Footer">
    <div class="Footer">
 
        <section class="footer-item">
             <a href="/"><img class="App-logo" alt="TodoList logo" src="/logo.svg" width="50"></a> 
             <br/>
             <br/>
            &nbsp; <h4>We create possibilities <br>for the connected world.<br><b class="color">Be Bold.</b></h4>
        </section>

      <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>
 
   
</div>
</template>